.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
  position: relative;
}

input,
select {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

input[type="password"],
input[type="text"] {
  padding-right: 45px;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 35px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  display: block !important;
}

input[type="date"] {
  color-scheme: dark;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

select option {
  background: #111;
}

label {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
}

span:not(.eye-icon) {
  font-size: 14px;
  padding: 3px;
  color: #ff6363;
  display: none;
}

span.show {
  display: block;
}
input.input-error,
select.input-error {
  border: 1px solid red;
}

input:invalid[focused="true"]:not(:placeholder-shown) {
  border: 1px solid red;
}

input:invalid[focused="true"]:not(:placeholder-shown) ~ span:not(.eye-icon) {
  display: block;
}