* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://images.pexels.com/photos/619419/pexels-photo-619419.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=1920");
  background-size: cover;
  background-position: center;
}

form{
    background-color: rgba(178, 177, 177, 0.524);
    padding: 0px 60px;
    border-radius: 10px;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(1, 158, 8);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}