@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import "tailwindcss";

input[type="date"] {
  color-scheme: dark;
}
input:invalid[focused="true"]:not(:placeholder-shown) {
  border: 1px solid red !important;
}
input:invalid[focused="true"]:not(:placeholder-shown) ~ span.error-msg {
  display: block !important;
}